.main-chat {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 34%,
    rgba(41, 136, 163, 1) 92%,
    rgba(86, 195, 223, 1) 100%
  );
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  border: 4px solid rgb(255, 255, 255);
  box-shadow: 0 0 3px rgb(0, 200, 255), 0 0 6px rgb(0, 200, 255),
    0 0 9px rgb(0, 200, 255), 0 0 14px rgb(0, 200, 255);
}

.ava {
  position: absolute;
  bottom: 10vh;
  max-width: 50%;
  max-height: 90%;
  height: auto;
  width: auto;
}
.btn-back {
  width: 50vw;
  height: 10vh;
  display: inline;
  font-size: 35px;
  font-family: "Press Start 2P";
  align-self: flex-end;
  background-color: rgb(241, 80, 142);
  transition: 0.5s;
  border-radius: 5px;
  border-width: 5px;
  border-color: aliceblue;
  -webkit-box-shadow: inset -4px -4px #ddd;
  box-shadow: inset -4px -4px #ddd;
}

.btn-back:hover {
  background-color: rgb(255, 190, 205);
  color: rgb(255, 0, 123);
}
